@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "gibson";
  src: url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot");
  src: url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff2") format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff") format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.ttf") format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.svg") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: "gibson";
  src: url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot");
  src: url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff2")
      format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff") format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.ttf")
      format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "gibson";
  src: url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot");
  src: url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff2")
      format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff")
      format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.ttf")
      format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.svg") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "gibson";
  src: url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot");
  src: url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff2") format("woff2"),
    url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff") format("woff"),
    url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.ttf") format("truetype"),
    url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.svg") format("svg");
  font-weight: 900;
}